@model IEnumerable<test.Models.Menu.SallerPropertyCreator>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/SallerLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bedrooms)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LotArea)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FloorArea)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Washrooms)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Garage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Included)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NotIncluded)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MapUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TourVideoUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bedrooms)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LotArea)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FloorArea)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Washrooms)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Garage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Included)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NotIncluded)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MapUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TourVideoUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image)
            </td>
            <td>
                <a asp-action="SallerEdit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="SallerDetails" asp-route-id="@item.Id">Details</a> |
                <a asp-action="SallerDelete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
